.privacy_details{
  width: 80%;
  margin: 20px auto;
}

.privacy_details h1{
    color: royalblue;
    font-weight: 500;
    font-size: 22px;
    margin: 20px 0px;
}

.privacy_details span{
    color: #808080;
}