.button_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 70%;
    margin: 30px auto;
    gap: 20px;
}

.button_grid a{
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
.button_grid a:hover {
    background-color: rgba(0, 128, 128, 0.808);
    box-shadow: rgba(0, 128, 128, 0.555) 5px 5px 10px 0px;

}

.apply .grid_box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    position: relative;
    width: 80%;
    margin: 30px auto;
}

 .apply .grid_box .grid_card{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 8, 8, 0.055) 5px 5px 10px 0px;
    display: flex;
    border: 1px solid #dbdbdb;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.apply .grid_box .grid_card .heading{
    font-weight: 500;
    font-size: 20px;
}

.apply .grid_box .grid_card .desc{
    text-align: center;
    margin-top: 10px;
}

.apply p{
    text-align: center;
    margin: 20px 0px;
}