.fq-container{
    width: 80%;
    margin: 30px auto;
}
.faq-item {
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    background-color: #ffffff;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    background-color: #ffffff;
}


.faq-answer {
    overflow: hidden;
}

.faq-answer p {
    color: #555;
    font-size: 18px;
    margin: 0;
    padding: 10px;

}

@media(max-width:768px){
    .width {
        width: 90%;
    }
}