
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: #fff;
  transition:  width 0.3s linear,top 0.3s linear,border-radius 0.3s linear;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000;
  height: 60px;
  padding: 0px 2%;
  border-radius: 0px;

}



.logo {
 display: flex;
 align-items: center;
 gap: 10px;
}

.logo .icon{
  display: flex;
  align-items: center;
}

.details{
  line-height: 23px;
}



.details .name{
  color: #2D336B;
  font-weight: 800;
  font-size: 22px;
}

.details  .slogan{
  color: #3A7D44;
  font-size: 12px;
}

.meuns a{
  color: #2D336B;
  transition: 0.5s ease;
}

.meuns a:hover{
  color: #aa2068;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.meuns .button {
  width: fit-content;
  display: flex;
  padding: 8px 20px;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
  animation: gradientAnimation 3s infinite linear;
  align-items: center;
}

.meuns .button:hover {
  animation: gradientAnimation 1.5s infinite linear;
}

.meuns .button:hover svg {
  fill: #fff;
}

.meuns .button svg {
  width: 23px;
  fill: #f09f33;
  transition: .3s ease;
}
