.dev_section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 50px;
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.dev_section .dev_card{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: rgba(0,0,0,0.090) 5px 5px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s ease;
}

.dev_section .dev_card:hover{
    transform: scale(1.1);
}
.dev_card .title{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.p{
    text-align: center;
    margin: 40px 0px;
}


.btn_start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.btn_start a {
    background: linear-gradient(135deg, #2575fc, hsl(269, 85%, 43%));
    background-size: 200% 200%;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 3px;
    animation: colorShift 4s ease infinite;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
