.products_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
    width: 80%;
    margin: 30px auto 50px auto;
}

.products_grid .product_card {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 8, 8, 0.055) 5px 5px 10px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 5px;
}

.products_grid .product_card:hover{
    box-shadow: rgba(0, 8, 8, 0.13) 5px 5px 10px 0px;
   transform: translateY(-10px);

}

.product_card .poster{
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

}
.product_card .poster img{
    width: 100%;
    height: 100%;
}
.product_card .name{
    color: royalblue;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.product_card .info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn_start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.btn_start a {
    background: linear-gradient(135deg, #2575fc, hsl(269, 85%, 43%));
    background-size: 200% 200%;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 3px;
    animation: colorShift 4s ease infinite;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media(max-width:768px){
  
    .products_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 20px;
        position: relative;
        width: 90%;
        margin: 30px auto 50px auto;
    }
  }

@media(max-width:350px){
  
    .products_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        position: relative;
        width: 90%;
        margin: 30px auto 50px auto;
    }
  }